

body {
    text-align: center;

    font-size: 30px;
    font-size: 2.5vw;

    background-color: #0c1114;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    border-bottom: 0.3vw solid #ffffff;
}

hr {
    border: 0;
    border-top: 0.3vw solid #0c1114;
}

.wrap {
    margin-top: 2%;

    max-width: 45%;

    display: inline-block;
    position: relative;
}

.wrap img {
    max-width: 100%;
}

.wrap .content {

    width: 20%;
    height: 25%;

    padding-top: 2%;
    padding-bottom: 2%;

    padding-left: 2%;
    padding-right: 2%;

    margin-left: auto;
    margin-right: auto;
}


.wrap .content .icons {
    margin-top: 10%;
}

.wrap .content .icons a:hover {
    border: 0;
}

.wrap .content .fa-facebook-square {
    float: left;
}

.wrap .content .fa-facebook-square:hover {
    color: #3B5998;
}

.wrap .content .fa-linkedin-square {
    vertical-align: top;
}

.wrap .content .fa-linkedin-square:hover {
    color: #0077B5;
}

.wrap .content .fa-lastfm-square {
    float: right;
}

.wrap .content .fa-lastfm-square:hover {
    color: #D31F27
}
